body{
    background-color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
* {
    text-transform: capitalize;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
}
.logo img{
    height: 30px;
}
.nav-links img{
    width: 60px;
    height: 30px;
    justify-content: start;
}
.container img{
    height: 50px;
    width: 60px;
}
.container{
    background-color: rgb(34, 34, 50);
    color: white;
    width: 29%;
    padding: 20px;
}
.container h3{
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize !important;
    font-size: 20px;
}
.container-fluid{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    margin-left: 50px;
}

.container1{
    margin-top: 50px;
    background-color: rgb(31, 68, 137);
    color: white;
    display: flex;
   align-items: center;
   width: 18%;
   justify-content: space-around;
   text-align: left;
   font-size: 12px;
   margin: 10px;
}

.small{
    height: 12px;
    width: 10px;
    padding: 0;
    margin: 0;
    margin-left: 20%;
    float: right;
}
.banner h3{
    background-color: blue;
    color: white;
    width: 50%;
    padding: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sentence{
    width: 50%;
    font-size: 16px;
    margin-right: 100px;
}

.slide-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 100px; 
    width: 100%;
}
.slider-container{
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}
.slides{
    display: flex;
}
.slide{
    display: none;
}
.slide.active{
    display: block;
}
.block{
    width: 80px;
    /* height: 60px; */
    background-color:black;
    z-index: -1;
    padding: 30px;
    margin-left: 0;
    justify-content: center;
}
.art-img{
    width: 70%;
    height: 120px;
}

/* media */

@media only screen and (min-width: 768px) and (max-width: 968px) {
    .navbar {
        padding-left: 20px;
    }
    .logo img{
        height: 20px;
    }
    .nav-links img{
        width: 50px;
        height: 20px;
        justify-content: start;
    }
    .art-img{
        width: 100%;
        height: 80px;
    }
    .container{
        background-color: rgb(34, 34, 50);
        color: white;
        width: 100%;
        padding: 20px;
        align-items: center;
        text-align: center;
        justify-content:center ;
        margin-bottom: 10px;
    }
    .container-fluid {
        flex-direction: column-reverse;
        margin-left: 0;
    }

    .container1 {
        margin-top: 20px;
        width: 100%;
        font-size: 10px;
        margin: 5px;
    }

    .banner h3 {
        width:80%;
        padding: 20px;
        text-align: center;
        font-size: 16px;
    }

    .sentence {
        font-size: 14px;
    }

    .slide-img {
        width: 100%;
        margin-left: 0;
    }

    .block {
        display: none;
    }
}

@media only screen and (min-width:340px) and (max-width: 768px) {
    /* Styles for phones */
    .navbar {
        padding-left: 10px;
    }

    .container h3 {
        font-size: 18px;
    }

    .container-fluid {
        margin-left: 0;
    }
    .container{
        background-color: rgb(34, 34, 50);
        color: white;
        width: 100%;
        padding: 20px;
        align-items: center;
        text-align: center;
        justify-content:center ;
        margin-bottom: 10px;
        margin: 10px;
        
    }

    .container1 {
        margin-top: 20px;
        text-align: center;
        width: 100%;
        font-size: 10px;
        margin: 5px;
    }
    #low-part{
        display: flex;
    }

    .small {
        margin-left: 0;
    }

    .banner h3 {
        width: 80%;
        padding: 15px;
        font-size: 12px;
    }

    .sentence{
        font-size: 14px;
    }
    .art-img {  
        width: 80%;
    }

    .slides {
        flex-direction: column;
    }

    .slide-img {
        margin-left: 0;
    }

    .block {
        display: none;
    }
}